<div class="card">
    <form [formGroup] = "userForm"> 
        <div class="mt-5 box">
            <div class="form-row">
                <div class="col-md-12">
                    <div class="form-group mt-4">
                        <label>Name</label>
                    </div>
                    <div class="form-row" style="margin-top:-10px">
                        <div class="col">
                            <input type="text" formControlName="name" class="form-control" placeholder="Name">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mt-4">
                        <label>Email</label>
                    </div>
                    <div class="form-row" style="margin-top:-10px">
                        <div class="col">
                            <input type="text" formControlName="email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mt-4">
                        <label>Organization</label>
                    </div>
                    <div class="form-row" style="margin-top:-10px">
                        <div class="col">
                            <input type="text" formControlName="organization" class="form-control" placeholder="Organization">
                        </div>
                    </div>
                </div>
                <div class="form-row mt-4">
                    <div class="col-6">
                        <button type="button" class="btn btn-primary" (click)="addPerson()">Add Person</button>&nbsp;
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary" (click)="reset()">Delete Form</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="col-md-8 mt-4 mb-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Organization</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let item of listData">
                    <td><span>{{item.name}}</span></td>
                    <td><span>{{item.email}}</span></td>
                    <td><span>{{item.organization}}</span></td>
                    <td><button type="button" class="btn btn-primary" (click)="remove(item)">Remove</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
